---
import '../../css/header/header.css'
---

<header class="flex p-[10px]">
    <div class=" flex justify-between items-center w-full max-sm:flex-col max-sm:gap-[10px] max-lg:flex-col max-lg:gap-[10px]">
        <div class="titulo">
            <h1 class="text-3xl paprika max-sm:text-center md:text-center">Practice Tailwind</h1>
        </div>
        <nav class="navbar">
            <div class="contenedor-ul">
                <ul
                    class="list-none flex justify-center items-center gap-[15px] max-sm:flex-col max-sm:text-center md:text-center"
                >
                    <li><a href="/">Incio</a></li>
                    <li><a href="#">Que es Tailwind</a></li>
                    <li><a href="https://tailwindcss.com/">Página oficial Tailwind</a></li>
                    <li><a href="https://github.com/ismaelhtmljs/Blog-practico-con-Tailwind">Repositorio</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>