---
import '../css/footer.css'
---

<footer class=" text-center text-white sansMono rounded-xl">
    <div class="contenedor-footer">
        <div class="repo">
            <p>Repositorio del Blog : <a href="#" class="RepoElement">Ir al Repositorio</a></p>
        </div>
        <div class="copy">
            <p>&copy;CopyRight by Ismaelxd74 | official License from 2024-2058</p>
        </div>
    </div>
</footer>