<header class="flex p-[10px]">
    <div class="flex justify-between items-center w-full">
        <div class="titulo">
            <h1 class="text-3xl paprika">Practice Tailwind</h1>
        </div>
        <nav class="navbar">
            <div class="contenedor-ul">
                <ul
                    class="list-none flex justify-center items-center gap-[15px]"
                >
                    <li><a href="/">Incio</a></li>
                    <li><a href="#">Que es Tailwind</a></li>
                    <li><a href="#">Página oficial Tailwind</a></li>
                    <li><a href="#">Repositorio</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<style is:inline>
    header {
        background: linear-gradient(45deg, #000000, #0000ff, #800080, #000000);
        border-radius: 10px;
        box-shadow: 0 0 8px 0px rgba(255, 255, 255, 0.8);
    }

    a{
        padding: 5px;
    }
</style>
